.plain-btn {
  display: inline-block;
  padding: 0;
  background: none;
  border: 0;
  // @NOTE: For some reason, Electron doesn't set
  // cursor to pointer for buttons by default.
  cursor: pointer;
}