* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'Segoe UI', 'Ubuntu', 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}